{% extends "add_system_base.html" %}
{% block add_page %}
    <div class="page-header">
        <h1>Добавление атрибутов</h1>
    </div>

    <div class="js-attributes__item-template attributes__item hide col-md-5" data-id="0">
        {% include "add_system/attribute_template.html" %}
    </div>

    <div id="attr_value_template" class="js-attributes__item-template attributes__item hide col-md-5" data-id="0">
        {% include "add_system/attribute_value_element.html" %}
    </div>

    <form id="add_attributes_form" action="{% url 'insert_attributes' %}" method="POST" class="form-horizontal">
        <input name="form_data" type="hidden">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-12 js-attributes__column">
                <div class="row js-attributes attributes">
                    {% for attr in attributes %}
                        <div class="js-attributes__item attributes__item col-md-5" data-id="0">
                            {% include "add_system/attribute_element.html" %}
                                {% for value in attr.values %}
                                    {% include "add_system/attribute_value_element.html" %}
                                {% endfor %}
                                <button type="button" class="col-md-2 js-attributes__item__add-value btn btn-warning">
                                <i class="glyphicon-plus glyphicon"></i></button>
                        </div>
                    {% empty %}
                        <div class="js-attributes__item attributes__item col-md-5" data-id="0">
                            {% include "add_system/attribute_template.html" %}
                        </div>
                    {% endfor %}

                </div>
                <div class="row objects-page__control-buttons-row">
                    <div class="objects-page__control-buttons-block">
                        <button type="button" class="js-attributes__add-item attributes__add-item btn btn-warning btn-lg"><i class="glyphicon-plus glyphicon"></i></button></button>
                        <button type="submit" class="btn btn-success btn-lg">Сабмит!</button></button>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
{% block scripts %}
    {% load staticfiles %}
    <script async src="{% static "js/add_attributes.js" %}"></script>
{% endblock %}