<div class="form-group">
    <div class="col-md-12">
        <div class="col-md-5">
            <input placeholder="Ответ" name="body" type="text" class="form-control">
            <input name="id" type="hidden" class="form-control" value="-1">
        </div>
        <div class="col-md-5">
            <input placeholder="Значение параметра" name="parameter_value" type="text" class="form-control">
        </div>
        <button type="button" class="btn btn-danger delete_answer col-md-1" data-href="/delete_answer/" data-id=""><i class="glyphicon glyphicon-remove"></i></button>
    </div>
</div>