<div class="form-group attributes__item__value">
    <label for="inputEmail3" class="col-md-3 control-label">Значение</label>
    <div class="col-md-6">
        <input name="value" type="text" class="form-control" id="inputEmail3" value="{{ value.value }}">
        <input name="id" type="hidden" class="form-control" value="{% if value and value.id %}{{ value.id }}{% else %}-1{% endif %}">
    </div>
    <button type="button" class="btn btn-danger delete_attr_value" data-href="/delete_attribute_value/" data-id = {{ value.id }}><i class="glyphicon glyphicon-remove"></i></button>
</div>