<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Ratus Expertus</title>
    {% load staticfiles %}

    <link rel="stylesheet" type="text/css" href="{% static "css/lib/bootstrap.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/index.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/lib/toastr.min.css" %}">


</head>
<body>
{% load tags %}
	<div class="container">
		<div class="row">
			<nav class="navbar navbar-default" role="navigation">
			  <div class="container-fluid">
			    <div class="navbar-header">
			      <a class="navbar-brand" href="{% url 'reset' %}">Ratus-Expertus</a>
			    </div>

			    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			      <ul class="nav navbar-nav">
			        {% if user.is_authenticated %}<li class="{% active request "index" %}"><a href="/reset">Системы</a></li>{% endif %}
			        <li class="{% active request "creators" %}"><a href="/creators/">Создатели</a></li>
			        <li><a href="/presentation/">Презентация</a></li>
			        <li><a href="/faq/">Как сделать лабу</a></li>
			      </ul>
			      
			      <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">{{ user.username }}</a></li>
			        {% if user.is_authenticated %}<li><a href="/logout/">Выйти</a></li>{% endif %}
			      </ul>
			    </div>
			  </div>
			</nav>
			{%block navbar%}
			{%endblock navbar%}
			<div class="col-md-12">
				{%block content%}
				{%endblock content%}
			</div>
		</div>
	</div>
	<script src="{% static "js/lib/jquery.min.js" %}"></script>
	<script  src="{% static "js/lib/bootstrap.min.js" %}"></script>
	<script  src="{% static "js/lib/underscore-min.js" %}"></script>
    <script  src="{% static "js/lib/toastr.min.js" %}"></script>
    <script  src="{% static "js/django_ajax.js" %}"></script>
    {% block scripts %}
    {% endblock %}
</body>
</html>