<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Ratus-Expertus</title>
    {% load staticfiles %}

    <link rel="stylesheet" type="text/css" href="{% static "css/lib/bootstrap.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/index.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/lib/toastr.min.css" %}">

	<script src="{% static "js/lib/jquery.min.js" %}"></script>
	<script src="{% static "js/lib/bootstrap.min.js" %}"></script>
	<script src="{% static "js/lib/underscore-min.js" %}"></script>
    <script src="{% static "js/lib/toastr.min.js" %}"></script>

    <script src="{% static "js/django_ajax.js" %}"></script>
    <script src="{% static "js/add_system.js" %}"></script>
    <script src="{% static "js/add_attributes.js" %}"></script>
</head>
<body>
	<div class="container">
		<div class="row">
			<nav class="navbar navbar-default" role="navigation">
			  <div class="container-fluid">
			    <div class="navbar-header">
			      <a class="navbar-brand" href="{% url 'reset' %}">Ratus-Expertus</a>
			    </div>

			    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			      <ul class="nav navbar-nav">
			        <li class="active"><a href="#">Системы</a></li>
			        <li><a href="#">Создатели</a></li>
			      </ul>
			      
			      <ul class="nav navbar-nav navbar-right">
			        <li><a href="#">Account</a></li>
			      </ul>
			    </div>
			  </div>
			</nav>
			{%block navbar%}
			{%endblock navbar%}
			<div class="col-md-12">
				{%block content%}
				{%endblock content%}
			</div>
		</div>
	</div>
</body>
</html>