{% extends "base.html" %}
{% block content %}
{% load staticfiles %}
<div class="row">
    Крыса Сергей: <img src="{% static "img/rat1.jpg" %}" class="thumbnail__avatar" alt="Крыса1">
</div>
<div class="row">
    Максим Мялкин: <img src="{% static "img/rat4.jpg" %}" class="thumbnail__avatar" alt="Крыса2">
</div>
<div class="row">
    Крыса Максим П.<img src="{% static "img/rat3.jpg" %}" class="thumbnail__avatar" alt="Крыса3">
</div>
<div class="row">
    Илюха "Лиля" Хрюха: <img src="{% static "img/rat2.jpg" %}" class="thumbnail__avatar" alt="Крыса4">
</div>
{% endblock %}