{% extends "base.html" %}
{% block content %}
	<div class="col-md-10 col-md-offset-1 ">
		<div class="page-header">
			<h1>{{ question.body }}</h1>
		</div>
		<form action="{% url 'answer' %}" method="POST">
			{% csrf_token %}
			<input id="question_id" name="question_id" value="{{ question.id }}" type="hidden"/>
			{% for answer in answers %}
			<div class="answer">
				<h3><input id="{{ answer.body }}" type="radio" name="answer" value="{{ answer.id }}"> <label for="{{ answer.body }}"> {{ answer.body }} </label></h3>
			</div>
			{% endfor %}
			<button type="submit" class="question__submit-button btn btn-success btn-lg">Далее</button>
			<a href="/skip/{{ question.id }}" class="question__submit-button btn btn-link btn-lg">Пропустить вопрос</a>
			<a href="{%  url "main_menu" %}" class="question__submit-button btn btn-link btn-lg">Главное меню</a>
		</form>

		<h1 class="page-header">Подходящие результаты</h1>
		<table class="table table-striped table-hover table-condensed" border="0" cellspacing="0" cellpadding="0">
			<thead>
				<tr>
					<th>Имя</th>
					<th>Вес</th>
				</tr>
			</thead>
			<tbody>
			{% for line in table %}
				<tr>
					<td>{{ line.name }}</td>
					<td>{{ line.weight }}</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}