{% extends "base.html" %}
{% block content %}
{% load staticfiles %}

<div class="row">
	{% for system in systems %}
  <div id="system{{ system.id }}" class="col-sm-6 col-md-4 {% cycle 'col-md-offset-1' 'col-md-offset-2' %}">
    <div class="thumbnail">
      <img src="{% static "img/system.jpeg" %}" class="thumbnail__avatar" alt="...">
      <div class="caption">
        <h3 class="thumbnail__title">{{system.name}}</h3>
        <p class="thumbnail__text">
            {% if system.about %}
                {{ system.about }}
            {% else %}
                Попробуйте лучшее из всего, что Вы когда-либо видели! <br/>
              Так как эта система, никто вам не поможет выбрать!
            {% endif %}
            <br/>
            Автор: <b>{{system.user.username}} {% if system.user.last_name and system.user.first_name %}
                ({{ system.user.last_name }} {{ system.user.first_name }}){% endif %}</b><br/></p>
        <p><a href="/index?system_id={{system.id}}" class="btn btn-success btn-block btn-lg" role="button">Попробовать бесплатно!</a></p>

          {% if system.user_id == user_id %}
            <p><a href="/add_system/{{system.id}}" class="btn btn-success btn-block btn-lg" role="button">Редактировать</a></p>
            <p><a data-id="{{ system.id }}" class="btn btn-danger btn-block btn-lg delete-system" role="button">Удалить</a></p>
          {% endif %}
      </div>
    </div>
  </div>
  {% endfor %}
  
      	<a class="thumbnail__add__link" href="{% url "add_system" %}" style="">
      		<span class="thumbnail__add__icon glyphicon glyphicon-plus"></span>
      	</a>
</div>

{% endblock %}

{% block scripts %}
    <script src="{% static "js/lib/bootstrap-confirmation.js" %}"></script>
    <script src="{% static "js/index.js" %}"></script>
{% endblock %}